#body {
	margin: 0 auto;
	height: 405vh;
	overflow: hidden;
	background: radial-gradient(farthest-corner, #a69b97, #8d6e63);
}

.chessBoard {
	margin: 0 auto;
	margin-top: 45vh;
	border-spacing: 0px;
	border-collapse: collapse;
	text-indent: 0;
	border: none;
	box-shadow: 5px 5px 50px 5px black;

	transition: transform 250ms ease;
}

.squares {
	margin: 0;
	padding: 1.5vh;
	width: 7vh;
	height: 7vh;
	object-fit: contain;
	transition: filter 200ms ease-out;
}

.squares:hover {
	filter: brightness(0.6);
}

.rows {
	margin: 0;
	padding: 0;
	height: 10vh;
}

.online_choice {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 50vh;

	transition: transform 1000ms;
}

.room_choice {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 50vh;
	justify-content: space-around;

	transition: transform 1000ms;
}

.room_div {
	display: flex;
	flex-direction: column;
}

.input {
	background: rgba(0, 0, 0, 0);
	border: 3px solid rgba(0, 0, 0, 0);
	border-bottom: 3px solid #3e2723;
	height: 50px;
	width: 200px;
	outline: none;
	font-size: 20px;
	font-family: monospace;
	color: #3e2723;
	text-decoration: none;
	opacity: 0;

	transition: opacity 1000ms;
}

#room_id {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	font-family: monospace;
	color: #3e2723;
	transform: translateY(43vh);
}

.attribution {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	margin-bottom: 5vh;
	font-family: monospace;
	text-decoration: none;
	font-size: 10px;
	color: #3e2723;
	margin-top: 4vh;
}

.firstText {
	margin: 0 auto;
	font-family: monospace;
	color: #3e2723;
	text-align: center;
	margin-top: 5vh;
	font-size: 220px;
	font-weight: 900;
	opacity: 0;
	transition: opacity 1500ms ease-out, transform 1000ms ease-out;
}

.secondText {
	margin: 0 auto;
	font-family: monospace;
	color: #3e2723;
	text-align: center;
	font-size: 40px;
	font-weight: 100;
	opacity: 0;
	transition: opacity 1500ms ease-out, transform 1000ms ease-out;
}

.button {
	display: flex;
	margin: 0 auto;
	margin-top: 15vh;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 200px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 40px;
	border: 3px solid #3e2723;
	font-family: monospace;
	font-size: 20px;
	color: #3e2723;
	opacity: 0;
	transition: box-shadow 500ms ease, opacity 1000ms ease-out, transform 1500ms ease-out;
}

.button:hover {
	box-shadow: 2px 2px 20px 2px #6a4f4b;
}

.highlight {
	filter: invert(20%) hue-rotate(90deg) saturate(300%) brightness(0.8);
}

.rotate {
	transform: rotate(180deg);
}

.gameOverPanel {
	display: flex;
	position: fixed;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	backdrop-filter: blur(0px);
	align-items: center;
	justify-content: center;

	transition: backdrop-filter 1500ms;
}

.gameOverButton {
	margin: 0 auto;
	height: 80px;
	width: 200px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 40px;
	border: 3px solid #3e2723;
	font-family: monospace;
	font-size: 20px;
	color: #3e2723;
	opacity: 0;
	transition: box-shadow 500ms ease, opacity 500ms ease;
}

.gameOverButton:hover {
	box-shadow: 2px 2px 20px 2px #6a4f4b;
}

.gameOverText {
	display: flex;
	margin: 0 auto;
	font-family: monospace;
	font-size: 10em;
	color: #3e2723;
	opacity: 0;
	transition: opacity 500ms ease;
}

.blur{
	backdrop-filter: blur(20px);
}

/* FOR MOBILE */

.chessBoard_mobile {
	margin: 0 auto;
	margin-top: 80vh;
	border-spacing: 0px;
	border-collapse: collapse;
	text-indent: 0;
	border: none;
	box-shadow: 5px 5px 50px 5px black;
}

.squares_mobile {
	margin: 0;
	padding: 1vh;
	width: 7vw;
	height: 7vw;
	object-fit: contain;
	transition: filter 200ms ease-out;
}

.squares_mobile:hover {
	filter: brightness(0.6);
}

.rows_mobile {
	margin: 0;
	padding: 0;
	height: 10.8vw;
}

.attribution_mobile {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	margin-bottom: 5vh;
	font-family: monospace;
	text-decoration: none;
	font-size: 10px;
	color: #3e2723;
	margin-top: 4vh;
}

.firstText_mobile {
	margin: 0 auto;
	font-family: monospace;
	color: #3e2723;
	text-align: center;
	margin-top: 35vw;
	font-size: 18vw;
	font-weight: 900;
	opacity: 0;
	transition: opacity 1500ms ease-out, transform 1000ms ease-out;
}

.secondText_mobile {
	margin: 0 auto;
	font-family: monospace;
	color: #3e2723;
	text-align: center;
	font-size: 6vw;
	font-weight: 100;
	opacity: 0;
	transition: opacity 1500ms ease-out, transform 1000ms ease-out;
}

.button_mobile {
	display: flex;
	margin: 0 auto;
	margin-top: 10vh;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 100px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 20px;
	border: 3px solid #3e2723;
	font-family: monospace;
	font-size: 12px;
	font-weight: 900;
	color: #3e2723;
	opacity: 0;
	transition: box-shadow 500ms ease, opacity 1000ms ease-out, transform 1500ms ease-out;
}

.highlight {
	filter: invert(20%) hue-rotate(90deg) saturate(300%) brightness(0.8);
}

.startAnimButton {
	opacity: 1;
	cursor: pointer;
}

.startAnimInput {
	opacity: 1;
}

.startAnim {
	opacity: 1;
	transform: translateY(5vh);
}

.rotate {
	transform: rotate(180deg);
}
